<form action="/articles/new" method="post">
<div class="form-group">
    <label for="title" class="form-label mt-4">Title</label>
    <input type="text" name="title" class="form-control" id="titlearea" aria-describedby="titleHelp" placeholder="Title">
  </div>

<div class="form-group">
    <label for="exampleTextarea" class="form-label mt-4">Blog body</label>
    <textarea class="form-control" name="body" id="exampleTextarea" rows="10"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleSelect2" class="form-label mt-4">Category select</label>
    <select multiple="" class="form-select" id="exampleSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
<br>
<br>
  <button type="submit" class="btn btn-outline-dark">Publish</button></form>